@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/*External font requires internet connexion*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

.root {
    -fx-padding: 24;
    -fx-border: thick blue;
    -fx-font-family: "Roboto Slab";
    -fx-alignment: center;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-base: #150C07;
    -fx-background: #150C07;
    -fx-text-fill: #FBE5C6;

    -fx-background-image: url("../images/backgroundUI.png");
}

* {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.separator .line {
    -fx-border-width: 1px;
    -fx-border-color: #0003;
}

/*================== Text ====================*/

.h1 {
    -fx-font-family: "Cinzel Decorative", cursive;
    -fx-font-size: 24px;
}

.h2 {
    -fx-font-size: 18px;
}

.h3 {
    -fx-font-size: 14px;
}

/*================== Buttons ====================*/

.button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(#743c3c, #402840);
    -fx-border-color: black;
    -fx-border-width: 0.1;
    -fx-padding: 1em 1.5em 1em 1.5em;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, #FBE5C6, 5, .05, 0, 0);
    -fx-background-color: linear-gradient(#40201f, #202);
}

.button:pressed {
    -fx-background-color: linear-gradient(#40201f, #FBE5C6);
}

/*============== LifeBar =========================*/

.lifeBar {
    -fx-accent: red;
}

/*===========    Scrollbars  ==================================*/

* .scroll-bar .thumb {
    -fx-background-color: #aaaa;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


* .scroll-bar,
* .scroll-bar .track,
* .scroll-bar .track-background,
* .scroll-bar .increment-button,
* .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

/*============ Highlight ===============*/

.highlighted {
    -fx-effect: dropshadow(gaussian, #FBE5C6, 30, .50, 0, 0);
}

/*============ cursor ===============*/

.handCursor {
    -fx-cursor: hand;
}

.text-area .content {
    -fx-cursor: default;
}