
.BLACK {
    -fx-background-color: black;
    -fx-text-inner-color: white;
}

.RED {
    -fx-background-color: red;
}

.GREEN {
    -fx-background-color: forestGreen;
}

.YELLOW {
    -fx-background-color: forestGreen;
}

.BLUE {
    -fx-background-color: dodgerblue;
}

.PURPLE {
    -fx-background-color: purple;
}

.CYAN {
    -fx-background-color: cyan;
}