@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.root {
    -fx-padding: 24;
    -fx-border: thick blue;
    -fx-font-family: "Roboto Slab";
    -fx-alignment: center;

    /*-fx-focus-color: transparent;*/
    /*-fx-faint-focus-color: transparent;*/

    -fx-base: #130A0F;
    -fx-background: #2C1210;
    -fx-text-fill: #FBE5C6;
}

* {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    /*-fx-text-fill: black;*/
    /*-fx-border-color: black;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 1;*/
    /*-fx-open-tab-animation : grow;*/

    /*-fx-background-radius: 0;*/
    /*-fx-border-radius: 0;*/
    -fx-border-width: 0px;
    -fx-border-color: #0000;
    -fx-background-insets: 0;
}

.separator .line{
    -fx-border-width: 1px;
    -fx-border-color: #0003;
}


#canevas {

}

.h2 {
    -fx-font-size: 18px;
}

.h1 {
    -fx-font-size: 24px;
}

/*=========== No focus highlight ========================*/
/**:focused {*/
/*    -fx-focus-color: transparent;*/
/*    -fx-background-insets: -1;*/
/*}*/


/*================== Buttons ====================*/

.button {
    -fx-background-color: linear-gradient(#321D29, #212);
    -fx-border-color: black;
    -fx-border-width: 0.1;
    -fx-padding: 1em 1.5em 1em 1.5em;
}

.button:hover {
    /*-fx-effect: dropshadow(gaussian, white, 10, .10, 0, 0);*/
    /*-fx-border-radius: 56px;*/
    -fx-background-color: linear-gradient(#40201f, #202);
}

.button:pressed {
    -fx-background-color: linear-gradient(#40201f, #FBE5C6);
}


.button:armed {
    /*-fx-font-weight: bold;*/
}

/*todo flat buttons*/



/*================ Colors =======================*/



/*===============================================*/

.disabledText {
    -fx-text-inner-color: grey
}

.progress-bar {

}

.lifeBar {
    -fx-accent: red;
}


/* Scrollbars */

* .scroll-bar .thumb {
    -fx-background-color: #aaaa;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


* .scroll-bar,
* .scroll-bar .track,
* .scroll-bar .track-background,
* .scroll-bar .increment-button,
* .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.highlighted {
    -fx-background-color: blue;
    -fx-border-width: 1;
    -fx-border-color: red;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, #FBE5C6, 30, .50, 0, 0);
}