@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/*@import url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Pakistan_General_election_2002.png/1920px-Pakistan_General_election_2002.png');*/

.root {
    -fx-padding: 24;
    -fx-border: thick blue;
    -fx-font-family: "Roboto Slab";
    -fx-alignment: center;
}

* {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}


#canevas {

}

.h2 {
    -fx-font-size: 18px;
}

.h1 {
    -fx-font-size: 24px;
}

Button {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.BLACK {
    -fx-background-color: black;
    -fx-text-inner-color : white;
}

.RED {
    -fx-background-color: red;
}

.GREEN {
    -fx-background-color: forestGreen;
}

.YELLOW {
    -fx-background-color: forestGreen;
}

.BLUE {
    -fx-background-color: dodgerblue;
}

.PURPLE {
    -fx-background-color: purple;
}

.CYAN {
    -fx-background-color: cyan;
}

.disabledText {
    -fx-text-inner-color : grey
}





