.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 172;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    /*-fx-border-color: #2381E9 #a3a7a8 #a3a7a8 #a3a7a8;*/
    /*-fx-border-width: 5 1 1 1;*/
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: linear-gradient(#202, #2C1210);
    -fx-pref-height: 4em;
    /*-fx-background-insets: 0;*/
}



.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:transparent;
}