.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    /*-fx-alignment: CENTER;*/
    -fx-pref-width: 96;
}


.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-background-color: linear-gradient(#202, #2C1210);
    -fx-pref-height: 4em;
}



.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:transparent;
}